.modals {
  display: grid;
  place-items: center;
  padding: 30px 0;
  height: 100%;
}

.modal {
  width: 300px;
  height: 100%;
  max-height: 300px;
  overflow: hidden;
}

.modal-header {
  background-color: #f44336;
  height: 50px;
}

.modal-body {
  background-color: #2973af;
  height: 100%;
}
